# ### app settings ###
# APP_NAME=cloud-run-demo
# APP_VERSION=0.1.0
# APP_ENV=local
# PORT=8080
# LOG_LEVEL=DEBUG
# ### database settings ###
# POSTGRES_DB=app_db
# POSTGRES_PORT=5432
# POSTGRES_USER=app_user
# POSTGRES_PASSWORD=app_pass
# POSTGRES_HOST=postgres